<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>

    <link rel="stylesheet" href="{% static 'admin_panel/admin_base.css' %}">
    {% block cssfiles %}{% endblock cssfiles %}
</head>
<body>
    <div class="container">
        <div class="nav">
            <a class="panel_name" href="{% url 'admin' %}">Admin Panel</a>
            <div class="nav_links">
                <a href="">Home</a>
                <a href="">Logout</a>
            </div>
        </div>
        <div class="body">
            <div class="side_nav">
                <a href="{% url 'all_users' %}">Users</a>
                <a href="{% url 'all_staffs' %}">Staff</a>
            </div>
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</body>
</html>